<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:insert="~{fragments/header}"></div>

    <div class="container wrapper">
        <h2 class="centrado" th:text="${titulo}"></h2>
        <div class="card">
            <div class="card-header bg-dark text-white" th:text="${titulo}"></div>
            <div class="card-body">

                <form th:action="@{/expediente/buscarCriterio/}" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="criterio1">Criterio</span>
                                    </div>
                                    <input type="text" class="form-control" id="criterio" name="criterio"
                                        placeholder="Criterio de búsqueda del funcionario" aria-label="criterio"
                                        aria-describedby="criterio1" required  autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-success" value="Buscar" />
                        </div>

                    </div>


                </form>

                <form th:action="@{/expediente/guardar/}" th:object="${expediente}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{funcionario}">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="cedula1">Cédula del Funcionario</span>
                            </div>
                            <input type="number" th:field="*{funcionario.cedula}" class="form-control" id="cedula"
                                placeholder="Digite el # de cédula del funcionario" aria-label="cedula"
                                aria-describedby="cedula1" required readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="funcionario1">Funcionario</span>
                                    </div>
                                    <input type="text" th:field="*{funcionario.apellidos}" class="form-control"
                                        id="funcionario1" placeholder="Apellidos" aria-label="funcionario1"
                                        aria-describedby="funcionario1" readonly th:required="required">
                                    <input type="text" th:field="*{funcionario.nombres}" class="form-control"
                                        id="funcionario1" placeholder="Nombres" aria-label="funcionario1"
                                        aria-describedby="funcionario1" readonly th:required="required">
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="dpto1">Departamento</span>
                                    </div>
                                    <input type="text" th:field="*{funcionario.departamento.descripcion}"
                                        class="form-control" id="dpto1" placeholder="Complete el departamento"
                                        aria-label="dpto1" aria-describedby="dpto1" readonly th:required="required">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="anio1">Año del Expediente</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="anio" th:field="*{anio}"
                                        aria-label="anio" aria-describedby="anio1" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Inicio Expediente</span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="fechaInicioExpediente"
                                        th:field="*{fechaInicioExpediente}" aria-label="fechaInicioExpediente"
                                        aria-describedby="basic-addon1" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Fecha Fin Expediente</span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="fechaFinExpediente"
                                        th:field="*{fechaFinExpediente}" aria-label="fechaFinExpediente"
                                        aria-describedby="basic-addon2" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-subtitle mb-2 text-muted">Saldo del año anterior</h6>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="saldoAnteriorDias1">Días</span>
                                    </div>
                                    <input type="number" class="form-control" id="saldoAnteriorDias"
                                        th:field="*{saldoAnteriorDias}" placeholder="# de días del permiso"
                                        aria-label="saldoAnteriorDias" aria-describedby="saldoAnteriorDias1" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="saldoAnteriorHoras1">Horas</span>
                                    </div>
                                    <input type="number" class="form-control" id="saldoAnteriorHoras"
                                        th:field="*{saldoAnteriorHoras}" placeholder="# de horas del permiso"
                                        aria-label="saldoAnteriorHoras" aria-describedby="saldoAnteriorHoras1" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="saldoAnteriorMinutos1">Minutos</span>
                                    </div>
                                    <input type="number" class="form-control" id="saldoAnteriorMinutos"
                                        th:field="*{saldoAnteriorMinutos}" placeholder="# de minutos del permiso"
                                        aria-label="saldoAnteriorMinutos" aria-describedby="saldoAnteriorMinutos1"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Devengado del año actual</h6>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="devengadoActualDias1">Días</span>
                                    </div>
                                    <input type="number" class="form-control" id="devengadoActualDias"
                                        th:field="*{devengadoActualDias}" placeholder="# de días del permiso"
                                        aria-label="devengadoActualDias" aria-describedby="devengadoActualDias1"
                                        required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="devengadoActualHoras1">Horas</span>
                                    </div>
                                    <input type="number" class="form-control" id="devengadoActualHoras"
                                        th:field="*{devengadoActualHoras}" placeholder="# de horas del permiso"
                                        aria-label="devengadoActualHoras" aria-describedby="devengadoActualHoras1"
                                        required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="devengadoActualMinutos1">Minutos</span>
                                    </div>
                                    <input type="number" class="form-control" id="devengadoActualMinutos"
                                        th:field="*{devengadoActualMinutos}" placeholder="# de minutos del permiso"
                                        aria-label="devengadoActualMinutos" aria-describedby="devengadoActualMinutos1"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                        <a class="btn btn-info" th:href="@{/expediente/}" th:text="'Regresar'" title="Regresar">
                        </a>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <footer th:insert="~{fragments/footer }"></footer>
</body>

</html>